
// Import selected Bootstrap's modules

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/utilities";

// Add some app-specific styles

body {
    margin: $spacer 0;
}

@include media-breakpoint-up(sm) {
    .card-deck .card {
        flex: 0 0 calc(50% - 30px);
        margin-bottom: $spacer;
    }
}

.results-spinner {
    @include clearfix();
    text-align: center;
    flex: 1 0 100%;
}
